.primary-red-btn,
.primary-red-btn:active,
.primary-red-btn:visited,
.primary-red-btn:focus {
  color: #FFF;
  background-color: #394CB0;
  border: 1px solid #394CB0;
  text-decoration: none;
}

.primary-white-btn {
  background-color: #FFF;
  border: 1px solid #FFF;
  color: #394CB0;
}

.primary-white-btn.bordered {
  border: 1px solid #394CB0;
}

.primary-white-btn,
.primary-red-btn {
  text-align: center;
  width: 170px;
  height: 30px;
  font-size: 12px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.primary-red-btn.disabled {
  background-color: #7793ba;
  border: 1px solid #7793ba;
}

.primary-white-btn:hover,
.primary-red-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.primary-white-btn:hover {
  color: #4a5ddd;
}

.primary-red-btn:hover {
  color: #FFF;
}

.nav > li.lang-dropdown > a {
  padding-left: 40px;
}
