body {
  font-family: 'PingFang SC', sans-serif;
}

html,
body {
  height:100%;
}

.main-page-container {
  background-color: #EEE;
  height: calc(100vh - 50px);
}

.window-wrapper {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer .copyright-wrapper {
  text-align: center;
}

.footer .version-wrapper {
  text-align: right;
  padding-right: 30px;
}

.footer-label {
  font-size: 12px;
  color: #999;
}

.main-page-form {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 440px;
  min-height: 460px;
}

.main-page-logo-wrapper {
  min-width: 100%;
  display: flex;
  padding-top: 120px;
}

.main-page-logo {
  display: block;
  margin: auto;
}

.main-page-button-container {
  display: grid;
  justify-content: center;
  margin-top: 80px;
}

.confirm-exit-image {
  width: 125px;
  height: 125px;
}

.confirm-exit-image-container {
  padding-top: 20px;
}

.confirm-exit-desc-container {
  padding-top: 50px;
  font-weight: bold;
  font-size: 16px;
}

.confirm-exit-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 70px 60px 25px 60px;
}

.confirm-exit-dontshow-panel {
  padding: 0 60px 40px 60px;
  text-align: left;
}

.modal.alert-modal {
  top: 150px;
}

.error-request-container {
  padding: 15px 20px 40px 20px;
}

.error-request-btn-container {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.nav-elem {
  cursor: pointer;
}

.new-transactions-container {
  padding: 15px 20px 40px 20px;
  font-size: 18px;
  text-align: center;
}

.new-transactions-btn-container {
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
}

.modal.alert-modal .modal-dialog {
  width: 450px;
}

.alert-modal .modal-header {
  border-bottom: 0;
}

.main-page-form .main-page-btn {
  margin-bottom: 15px;
}

@media (max-height: 650px) {
  .footer {
    display: none;
  }
}
