.security-center .page-heading-wrapper {
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  justify-content: center;
  padding: 20px 70px 30px 70px;
}

.security-center .page-heading-container {
  width: 100%;
  border: 1px solid #DFDFDF;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  padding: 17px 0;
  text-align: center;
}

.security-center .page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-left: 30px;
}

.security-center .page-container {
  width: 600px;
}

.security-center .page-container .heading-title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
}

.security-center .page-container .heading-subtitle {
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding-bottom: 20px;
}

.security-center .page-container .form-wrapper {
  display: flex;
  justify-content: end;
}

.security-center .page-container .form-container {
  width: 460px;
}

.security-center .page-container .button-block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 35px;
}

.security-center .page-container .desc-block {
  font-size: 12px;
  color: #999
}

.security-center .page-container .desc-block .desc {
  margin-bottom: 25px;
}

.center-input {
  text-align: center;
}

.password-input-block .input.blue {
  background-color: #fff;
  border: 1px solid #394CB0;
}

.mnemonics-title {
  padding-top: 30px;
  padding-bottom: 140px;
  font-size: 20px;
}

.create-title-panel.img-panel {
  margin-top: 60px;
}

.explorer-block-divider {
  height: 1px;
  background-color: #DFDFDF;
}

.restore.create-title-panel.img-panel {
  margin-top: 30px;
}

.mnemonic-field {
  text-align: center;
}

.mnemonic-desc-advice {
  padding-top: 15px;
}

.explorer-path-container .column-wrapper {
  padding-left: 0;
}

.explorer-path-container .radio {
  vertical-align: top;
  width: 8px;
  height: 8px;
  margin: 0 3px 0 0;
}

.explorer-path-container .radio + label {
  cursor: pointer;
  font-size: 14px;
}

.explorer-path-container .radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.explorer-path-container .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px;
  color: #999;
  display: flex;
}

.explorer-path-container .radio:checked + label {
  color: #333;
  display: flex;
}

.explorer-path-container .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #4a5ddd;
  border-radius: 50%;
  background: #FFF;
}

.explorer-path-container {
  padding-top: 25px;
}

.explorer-path-container .path-radio-wrapper {
  margin-bottom: 15px;
}

.explorer-path-container .radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4a5ddd;
  opacity: 0;
  transition: all .2s;
}

.explorer-path-container .radio:checked + label:after {
  opacity: 1;
}

.fee-radio-wrapper {
  display: flex;
}

.custom-path-input input.input.disabled {
  border: 1px solid #999;
  background-color: #DFDFDF;
  color: #999
}

.path-input-placeholder {
  color: #999999;
  position: absolute;
  top: 10px;
  left: 16px;
  pointer-events: none;
}

.custom-path-input input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #333;
  padding: 0 20px;
}

.custom-path-input .input.blue {
  background-color: #fff;
  border: 1px solid #394CB0;
}

.custom-path-input .input:focus {
  outline:0;
}

.custom-path-input-block {
  padding-top: 15px;
}

.security-center .page-container .button-block.submit {
  padding-left: 0;
  padding-top: 15px;
  margin-top: 0;
}

.password-failed-modal.modal,
.mnemonics-modal.modal {
  position: absolute;
  display: table-cell;
  left: calc(50% - 334px);
  top: calc(50% - 268px);
}
