.phone-panel-desktop {
  height: 400px;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin-bottom: 40px;
  width: calc(50% - 20px);
  float: left;
}

.phone-panel-mobile {
  margin-top: 30%;
  margin-bottom: 40px;
  width: 100%;
  float: left;
}

.phone-img-container {
  margin-top: 30px;
  height: 300px;
}

.phone-img-container .phone-img {
  width: 146px;
  margin: auto;
  position: relative;
}

.phone-img .phone-icon {
  height: 280px;
  margin: auto;
  display: block;
}

.phone-img .ink-logo-img {
  position: absolute;
  width: 76px;
  height: 31px;
  top: 60px;
  left: 36px;
}

.phone-img .qr-code {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 110px;
  left: 23px;
}

.phone-desc {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}
